.gallery{
    display: flex;
    width: 100%;
    
}



.gallerystyle .blur{
    background-color: #999999
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
}

.gallerystyle img{
    padding: 10px;
    width: 100%;
    display: block;
    transition: transform 1s; 
}

.gallerystyle li{
    position: relative;
    overflow: hidden;
}

.gallerystyle .stadion{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;   
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.gallerystyle{
    list-style: none;
    margin: 0px;
    padding: 50px;
    width: 600px;
    
   
}

.gallerystyle li:hover .stadion{
    opacity: 1;
}

.gallerystyle li:hover img{
    transform: scale(1.2);
}

body{
    background-color: #FFFFFF
    padding: 0;
    margin:0;
}

.wrapper{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

h1,h2,h3{
    margin: 0;
}
container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right:auto;
}

header{
    background-color: #07173b;
    color:white;
    display: flex;
    align-items: flex-end;
}

header .homebutton{
    display: flex;
    height: 165px;
    position: relative;
    top: 33px;
}

header .titel{
    
float: left;
    
padding-top: 50px;
    
/* padding-left: 50px; */
    
width: 100%;
}

header .nav{
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0px;
    width: 30px;
}

nav a{
    padding: 5px;
    margin: 5px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover{
    background-color: white;
    color: #07173b;
}

@media screen and (min-width: 480px) {
    ul {
        flex-direction: row;
        
    }

    nav > ul{
        display: flex;
    }

    nav label{
        display: none;
    }

.dropdown ul{
    list-style: none;
    padding:0px;
}

.dropdown li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    background-color: #07173b;
    position: relative;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown ul li ul li:hover{
    background-color: white;
    color : #07173b;
    cursor: pointer;
}

.dropdown ul ul {
    display: none;
    position: absolute;
    top:100%;
    width:102px;
    left:0px;
}

.dropdown ul ul li {
    width:100%;
    
}

.dropdown li:hover ul{
    display: block;
    
    
}

h2{
    text-align: center;
    WIDTH: 100%;
    padding-bottom: 25px;
}

.page{
    /* display: flex; */
    /* padding: 50px; */
    /* float: left; */
}

.page .image{
   text-align: center;
}


.page .info{
    
    */
    float: left;
    width: 100%;
    /* height: 400px; */
    float: left;
}

.page .info .text p{
    text-align: center;
    
    
}

.page .info .image img{

    box-shadow: 0px 0px 20px 1px #000000;
}




.footer{
    clear: both;
    padding: 10px 0;
    background-color: #999999;
    color: white;
    text-align: right;
    float: left;
    width: 100%;
}

 }
 @font-face{
    font-family: hf;
    src: url( '../fonts/headfront.ttf');
}

@media only screen and ( min-width: 981px ) and ( max-width: 1200px ) {
    /* komt meestal niks */
    .wrapper{
        max-width: 981px;
    }
}

@media only screen and (max-width: 980px) and (min-width: 768px) {
    /* tablet */
    .wrapper{
        max-width: 768px;
    }
}

@media only screen and ( min-width: 480px ) and ( max-width: 767px ) {
    /* mobiel liggend */
    .wrapper{
        max-width: 480px;
    }
}

@media only screen and ( min-width: 320px ) and ( max-width: 479px ) {
/* mobiel normaal */
    .wrapper{
        max-width: 320px;
    }
}