



.gallerystyle .blur{
    background-color: #999999
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
}

.gallerystyle img{
    padding: 10px;
    width: 100%;
    display: flex;
    transition: transform 1s;
    
}

.gallerystyle li{
    position: relative;
    overflow: hidden;
}

.gallerystyle .stadion{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;   
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.gallerystyle{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 600px;
   
    
}

.gallerystyle li:hover .stadion{
    opacity: 1;
    
}

.gallerystyle li:hover img{
    transform: scale(1.2);
   
}

body{
    background-color: #FFFFFF
    padding: 0;
    margin:0;
}

h1,h2,h3{
    margin: 0;
}
container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right:auto;
}

header{
    background-color: #07173b;
    color:white;
    display: flex;
    align-items: flex-end;
}

header .homebutton{
    display: flex;
    height: 165px;
    position: relative;
    top: 33px;

}

header .titel{
    
    
}

header .nav{
    display: flex;
}




nav ul{
    display: flex;
    list-style: none;
    padding: 0px;
    width: 30px;
    
}

nav a{
    padding: 5px;
    margin: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover{
    background-color: white;
    color: #07173b;
}






.content{
width: 100%;
}




.content h2{
    text-align: center;
    text-decoration: underline;

}





   




.content{
    padding: 10px;
}
main{
    background-color: white;
    width: 600px;
    float: right;
}
.footer{
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;

}




 }


 }
 @font-face{
    font-family: hf;
    src: url( '../fonts/headfront.ttf');