body{
    background-color: #FFFFFF
    padding: 0;
    margin:0;
}

h1,h2,h3{
    margin: 0;
}
container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right:auto;
}

header{
    background-color: #07173b;
    color:white;
    display: flex;
    align-items: flex-end;
}

header .homebutton{
    display: flex;
    height: 165px;
    position: relative;
    top: 33px;

}

header .titel{
    
    
}

header .nav{
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0px;
    width: 30px;
    
}

nav a{
    padding: 5px;
    margin: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover{
    background-color: white;
    color: #07173b;
}

.dropdown ul{
    list-style: none;
    padding:0px;
}

.dropdown li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    background-color: #07173b;
    position: relative;
}

.dropdown li:hover{
    background-color: white;
    color : #07173b;
    cursor: pointer;
}

.dropdown ul ul {
    display: none;
    position: absolute;
    top:100%;
    width:102px;
    left:0px;
}

.dropdown ul ul li {
    width:100%;
    
}

.dropdown li:hover ul{
    display: block;
    
    
}

h2{
    text-align: center;
    
}

.movie{
    margin: 25px;
    display: flex;
    text-align: center;
}

.movie .een{
    margin: 10px;
    display: flex;
}

.movie .twee{
    margin: 10px;
    display: flex;
}

.footer{
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

 }
 @font-face{
    font-family: hf;
    src: url( '../fonts/headfront.ttf');